<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script>
        function fetchData() {
            fetch('/data')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('data-display').innerText = data;
                });
        }
    </script>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
            <button onclick="fetchData()">获取数据</button>
            <div id="data-display"></div>
        </header>
    </div>
</body>
</html>
